body {
background-color: #f7eff3
}

#side{
  text-align: center;
}

#sector1{
  background-color: #ffffff;
  text-align: center;
}

#pages{
  text-align: center;

}

.bg-light {
    background-color: #ffffff!important;
}

.pagination {
   justify-content: center;
}

.jumbotron{
  background-color: #e5dee2

}
