<!DOCTYPE html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="/static/fun.css" rel="stylesheet" >
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Team Poppins</a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="container">
    <div class="row">
      <br>
      <br>
    </div>
    <div id = "sector1">
    <br><br><br>

  <div class="row">
      <div id = "side">
    <div class="col">
      <div class="containter">
          <ul>Link to first dataset</ul>
          <ul>Link to second dataset</ul>
          <ul>Link to third dataset</ul>
      </div>
    </div>
      </div>
    <div class="col-5">
    Hi
    </div>
    <div class="col">
    HI
    </div>
  </div>
</div>
</div>

  <ul class="pagination" id = "pages">
    <li class="page-item">
    </li>
    <li class="page-item"><a class="page-link" href="localhost:5000/1">1</a></li>
    <li class="page-item"><a class="page-link" href="localhost:5000/2">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
    </li>
  </ul>

</body>

</html
