<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	<title> Sample Map </title>
	<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script type = "text/javascript" src="../static/nyc.json"></script>
	<!-- src = https://raw.githubusercontent.com/dwillis/nyc-maps/master/school_districts.geojson -->
	<script type = "text/javascript" src="../static/districts.json"></script>
  <link rel="shortcut icon" href="">
</head>
<body>
	<!-- Page elements and content go here.
  <svg width="960" height="720" style="float: left"></svg>
    <div id='neighborhoods'> </div>
		 -->
		 <div id="number"><h2></h2></div>
		 <p> Choose what data you would like to display. </p>
		 <select>
			 <option value = "a"> a </option>
			 <option value = "b"> b </option>
			 <option value = "c"> c </option>
		 </select>

</body>
<script src = "../map.js">	</script>
</html>
