<!DOCTYPE html>
<html lang="en">
<style>
.h2 {
	position:absolute
}
.svg{
	position: absolute;
  text-align: center;
  padding: 2px;
  font: 19px sans-serif;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}
</style>
<meta charset="utf-8">
<head>
	<title> Sample Map </title>
	<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
	<!-- src = https://raw.githubusercontent.com/dwillis/nyc-maps/master/school_districts.geojson -->
	<script type = "text/javascript" src="{{ url_for('static', filename='districts.json') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<!-- Page elements and content go here.
  <svg width="960" height="720" style="float: left"></svg>
    <div id='neighborhoods'> </div>
		 -->
		 <div id="what"><p>No district selected.</p></div>
		 <div id = "select">
		 <p> Choose what data you would like to display. </p>

		 <select id = "spending">

			 <option value = "classroom"> Instructional Spending </option>
			 <option value = "support"> Instructional Support Services </option>
			 <option value = "leadership"> Leadership Support Services </option>
			 <option value = "ancillary"> Ancillary Support Services </option>
			 <option value = "building"> Building Services </option>
		 </select>

		<select id = "year">
			<option value = "2004"> 2004 </option>
			<option value = "2005"> 2005 </option>
			<option value = "2006"> 2006 </option>
			<option value = "2007"> 2007 </option>
			<option value = "2008"> 2008 </option>
			<option value = "2009"> 2009 </option>
			<option value = "2010"> 2010 </option>
			<option value = "2011"> 2011 </option>
			<option value = "2012"> 2012 </option>
	 	</select>

</div>
</body>
<script src="{{ url_for('static', filename='map.js') }}">	</script>
</html>
