<!DOCTYPE html>
<html>
  <head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    </head>

  <title>Racial Breakdown by School</title>
  <h2>Racial Breakdown by School for 2015</h2>


  Select a school from the list to view it's racial breakdown.
  <br>
  <hr>
  <h3 id = "which_school">Stuyvesant High School</h3>  
  <body>
    <svg width="300" height="200"> </svg>
    
    
    <script src="test.js"></script>
<br><br>
    Key: <br>
    <ul>
      <li>
	Orange: Asian
      <li>
	Blue: White
      <li>
	Green: Hispanic
      <li>
	Yellow: Black
      <li>
	Red: Other
    </ul>


    
    
  </body>
</html>
